#heading{

    color: white;
    background-color: blue;
    font-family: cursive;
    font-weight: 30px;
    text-align: center;
    text-decoration: underline;
    display: block;
    
    
   

}
#main-body{
    background-color: white;
    color: blue;
    font-weight: bold;
    align-items: center;
    text-align: center;
  
}
#dedicated-team{
    text-decoration: underline;
    color: blue;
}
#our{
    text-decoration: underline;
    color: blue;
    text-align: center;
}
#main-bodyb{
    background-color: white;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items:center;

}
#bodyc{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    background-image: url(images/logo.jpg);
    background-size: cover;
    color: blue;
    
}
#myButton{
    border: none;
    border-color: violet;
    background-color: black;
    color: white;
    width: 65px;
    border-radius: 2px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#myButton:hover {
    opacity: 0.7;
    color: white;
    background-color: blueviolet;

}
#day{
    text-align: right;
    text-decoration: aliceblue;
    background-color: none;
    color: black;
    border: 0cap;
}
#nursery{ 
    text-align: right; 
    text-decoration-color: antiquewhite;
    color: blue;
    background-color: none;
    font-family: cursive;
    text-decoration: underline;
    float: left

}
#Logo1{
    width: 150px;
    float: right;
    margin-top: 10px;
    
}
#spider-man{
    width: 200px;
    float: left;
}
#our-mission{
    width: 700px;
    
    border-radius: 10px;
    border-color: yellow;
    margin-left: 10px;
    
}
#team{
    width: 700px;
    border-radius: 10px;
    border: white;
    border-width: 2px;
}
#safety{
    width: 700px;
    border-radius: 10px;
    color: blue;
    text-decoration: underline;

}   
#nutrition-pic{
    width: 700px;
    border-radius: 10px;
    
    

}
#curriculum{
    width: 300px;
    border-radius: 150px;
    
}
#school-term{

    width: 500px;
    border-radius: 10px;
}
#swimming{
    width: 400px;
    border-radius: 15px;
}
#director{
    width: 500px;
    border-radius: 250px;
}
.nutrition-heading{
    color: blue;
}

#list{

    list-style: none;
}
#fullday{
    width: 300px;
    border-radius: 150px;
    border: none;
}
.fullday{
    color: white;
    font-size: 20px;
}
li{
    color: blue;
    font-size: 20px;
} 
#vana{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#apa{
    width: 500px;
    border-radius: 5px;
}
#vana{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#tamba{
    width: 500px;
    border-radius: 5px;
}
#creche{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#day{
    width: 500px;
    border-radius: 5px;
}
#kids{width: 500px;
    border-radius: 5px;
      margin-right: 12px;
}
#nhasi{width: 500px;
    border-radius: 5px;
 }
#tese{width: 500px;
    border-radius: 5px;
      margin-right: 12px;
     }
#cont{
    margin-left: 12px;
    margin-right: 12px;
}
#event{
    margin-left: 12px;
    margin-right: 12px;
    margin-right: 12px;
}
#derere{
    margin-left: 12px;
    margin-right: 12px;
}
#map{
    font-size: 20px;
}
#home{
    colour: white;
    font-size: 18px;
}
#info{
     colour: white;
    font-size: 18px;
    margin-left: 12px;
}
#ba{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#{
    width: 500px;
    border-radius: 5px;
}
#be{
    width: 500px;
    border-radius: 5px;
}
#bi{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#bo{
    width: 500px;
    border-radius: 5px;
}
#bu{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#ha{
    width: 500px;
    border-radius: 5px;
}
#he{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#hi{
    width: 500px;
    border-radius: 5px;
}
#ho{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#hu{
    width: 500px;
    border-radius: 5px;
}
#ga{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#ge{
    width: 500px;
    border-radius: 5px;
}
#gi{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#go{
    width: 500px;
    border-radius: 5px;
}
#gu{
    width: 500px;
    border-radius: 5px;
    margin-right: 12px;
}
#subscribe{
color: white;
background-color: red;
padding: 5px;    
    
}
#subscribe:hover{
    color: blue;
    background-color: green;
    cursor: pointer;
}
